# This file is used to create a conda environment on Google Colab
# To get the list of packages installed in the current environment, run the following command in a cell:
# pip_txt = !pip list
# dep = "python tensorflow".split()
# for line in pip_txt:
#     pkg, ver = line.strip().split()
#     if pkg in dep:
#         print(f"- {pkg} = {ver}")

Cython==3.0.8
graphviz==0.20.3
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-server==1.24.0
jupyter_core==5.7.1
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.10
lxml==4.9.4
matplotlib == 3.7.1
notebook == 6.5.5
numpy==1.25.2
openpyxl == 3.1.2
pandas==1.5.3
pandas-datareader == 0.10.0
pytest == 7.4.4
pytest-xdist
requests == 2.31.0
scikit-learn == 1.2.2
scipy == 1.11.4
seaborn == 0.13.1
statsmodels == 0.14.0
sympy == 1.12
tensorflow == 2.15.0
torch == 2.2.1
torchvision == 0.17.1
xlwt
