# This file is used to create a conda environment on Google Colab
# To get the list of packages installed in the current environment, run the following command in a cell:
# pip_txt = !pip list
# dep = "python tensorflow".split()
# for line in pip_txt:
#     pkg, ver = line.strip().split()
#     if pkg in dep:
#         print(f"- {pkg} = {ver}")

cython
jupyter
lxml == 4.9.3
matplotlib == 3.7.1
notebook == 6.5.5
numpy == 1.23.5
openpyxl == 3.1.2
pandas == 1.5.3
pandas-datareader == 0.10.0
pytest == 7.4.0
pytest-xdist
requests == 2.31.0
scikit-learn == 1.2.2
scipy == 1.10.1
seaborn == 0.12.2
statsmodels == 0.14.0
sympy == 1.12
tensorflow == 2.12.0
xlwt
